.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
}

@media (max-width: 920px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    white-space: pre-line;
  }
}

@media (max-width: 750px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    white-space: normal;
    margin-left: 16px;
  }
}
